.dashboard {
  @import "../../Vars.scss";

  .categories{
    background-color: $main-color;
  }
  .categories__title {
    background: $main-color;
    color: white;
    font-size: 25px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
}
